*{
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, .h1, .h2, .h3{
    font-family: "Electrolize", sans-serif;
}

/* Variabili */
:root{

    /* Le variabili in CSS sono esattamente come delle proprietà, quindi una coppia  
    chiave-valore */

    --bl: rgb(0, 110, 255);
    --lb: rgb(132, 230, 255);
    --w: rgb(242, 243, 244);
}

body{
    background-color: var(--lb);
    color: var(--w);
}

.bg-bl{
    background-color: var(--bl);
}

.bg-lb{
    background-color: var(--lb);
}

.bg-w{
    background-color: var(--w);
}

.text-bl{
    color: var(--bl);
}

.text-lb{
    color: var(--lb);
}

.text-w{
    color: var(--w);
}


/* Header */
.header-custom{
    height: 92vh;
    background-image: linear-gradient(rgba(0, 127, 255, 0.3), rgba(242, 243, 244, 0.3)) ,url("https://picsum.photos/2000");
    background-position: center;
    background-size: cover;
}

/* Navbar */
.navbar{
    min-height: 8vh;
}

.nav-link{
    color: var(--w);
    font-weight: bold;
}

.nav-link:hover{
    color: var(--w);
}

.logo{
    height: 50px
}